<!DOCTYPE html>

{% load staticfiles %}

<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{% static 'workout/css/bootstrap.min.css' %}" rel="stylesheet">
    </head>

    <body>
        <h1 class="col-sm-7">{% block header %}{% endblock %}</h1>
        
        <div class="col-sm-5 text-right">
            <ul class="list-inline">
                <li><a href="{% url 'workout:main' %}">Workout</a></li>
                <li><a href="{% url 'workout:history' %}">History</a></li>
                <li><a href="{% url 'workout:new' %}">Add New</a></li>
                <li><a href="{% url 'workout:preferences' %}">Preferences</a></li>
                <li><a href="{% url 'workout:about' %}">About</a></li>
            </ul>
        </div>
        
        <div class="col-sm-12">
            {% block content %}{% endblock %}
        </div>
        
        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="{% static 'workout/js/bootstrap.min.js' %}"></script>
    </body>
</html>