{% extends 'workout/base_template.html' %}

{% block header %}
    {% block title %}Add New Workout{% endblock %}
{% endblock %}

{% block content %}
    <div class="col-sm-8">
        <form method="post">{% csrf_token %}

            <!--<select class="form-control" name="category">
                {% for category in categories %}
                <option>{{category}}</option>
                {% endfor %}
            </select>

            <textarea class="form-control" rows="6" name="detail"></textarea>-->
            {{ form.as_p }}

            <div><button type="submit" class="btn btn-default">Add New</button></div>
        </form>
    </div>
{% endblock %}