{% extends 'workout/base_template.html' %}

{% block header %}
    {% block title %}Preferences{% endblock %}
{% endblock %}

{% block content %}
    <form method="put">
        <select multiple class="form-control" name="equipment">
          
          {% for equipment in equipments %}
          <option>{{equipment.item}}</option>
          {% endfor %}

        </select>

        <label class="control-label">Percentage Occurrence</label>
        {% for category in categories %}
        <input type="text" class="form-control" placeholder="{{category.category}}" name="{{category.category}}">
        {% endfor %}

        <button type="submit" class="btn btn-default">Submit Preferences</button>
    </form>
{% endblock %}