{% extends 'workout/base_template.html' %}

{% block header %}
    {% block title %}Preferences{% endblock %}
{% endblock %}

{% block content %}
    <div class="col-sm-3">
        <form method="post">
        <br>
        <label class="control-label">Equipment You Own</label>
        <select multiple class="form-control" name="equipment">
                  
        {% for ownership in ownerships %}
            <option>{{ownership.equipment.item}}</option>
        {% endfor %}

        </select>

        <br>

        <label class="control-label">Desired Days Per Week</label>
        <br>
        {% for preference in preferences %}
            <div class="row">
                <div class="col-sm-4 text-right">{{preference.category.category}}</div>
                <div class="col-sm-3">
                    <input type="text" class="form-control" placeholder="{{preference.category.category}}" value="{{preference.days_per_week}}">
                </div>
            <br>
            </div>
        {% endfor %}

        <br>

        <button type="submit" class="btn btn-default">Submit Preferences</button>
        </form>
    </div>
{% endblock %}